<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.24/dist/css/uikit.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.24/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.24/dist/js/uikit-icons.min.js"></script>

    <!-- Code highlight -->
    <link href="./prism.css" rel="stylesheet" />
    <script src="prism.js"></script>
    <title>{{title}}</title>
</head>
<body>
<div>
    <div uk-sticky="media: 960; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
        <nav class="uk-navbar-container uk-margin uk-dark uk-navbar-transparent uk-box-shadow-small uk-background-default" uk-navbar>
            <div class="uk-navbar-left uk-margin-medium-left">
                <ul class="uk-navbar-nav">
                    <li class="uk-navbar-item">
                        <a href="https://github.com/maximdanilchenko" uk-icon="icon: github"#00d5ff"></a>
                    </li>
                    <li class="uk-navbar-item">
                        <a href="https://linkedin.com/in/maximdanilchenko" uk-icon="icon: linkedin"></a>
                    </li>
                    <li class="uk-navbar-item">
                        <a href="https://instagram.com/dmaxdev" uk-icon="icon: instagram"></a>
                    </li>
                    <li class="uk-navbar-item">
                        <a href="https://soundcloud.com/maxdmg" uk-icon="icon: soundcloud"></a>
                    </li>
                </ul>
            </div>
            <div class="uk-navbar-right uk-margin-medium-right">
                <ul class="uk-navbar-nav">
                    <li class="uk-navbar-item uk-margin-small-right">
                        <a href="." uk-icon="icon: home"></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="uk-container uk-margin-large-bottom uk-margin-small uk-animation-slide-top-small">
        <div class="uk-grid-small" uk-grid>
            <div class="uk-width-1-6 uk-visible@l"></div>
            <div class="uk-width-expand">
                <div class="uk-container uk-container-small uk-position-relative">
                    <div>
                        <h1 class="uk-heading-primary uk-margin">{{header}}</h1>
                        {{body}}
                        {% if header == "Welcome" %}
                        <hr>
                        <h1 class="uk-heading-primary uk-margin">Posts</h1>
                        <div class="uk-grid-small uk-child-width-1-2@s uk-margin" uk-grid>
                            {% for (post_url, post_name) in posts %}
                            <div>
                                <div class="uk-card uk-card-body">
                                    <h2>
                                        <a class="uk-link-heading" href="{{ post_url }}">
                                            {{ post_name }}
                                        </a>
                                    </h2>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <hr>
                        <a href="#" uk-totop uk-scroll></a>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-6 uk-visible@l">
                {% if header != "Welcome" %}
                <div uk-sticky="offset: 100">
                    <div>
                        <ul class="uk-nav-default" uk-nav>
                            <li class="uk-text-lead">Other posts</li>
                            {% for (post_url, post_name) in posts %}
                            {% if post_name != header %}
                            <li><a href="{{ post_url }}">{{ post_name }}</a></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</body>
</html>
